<!DOCTYPE html>
<html>
  <head>
    <title>BetterCraft</title>
  <link rel="icon" href="favicon.ico" type="image/icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
</style>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
